parameters:

  level: 6
  treatPhpDocTypesAsCertain: false
  paths:
    - app
    - core
    - tests

  excludePaths:
    - app/views/*
    - tests/Acceptance/*
    - tests/Support/*

  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    - '#Access to protected property App\\Models\\User::\$password.#'
    - '#Access to an undefined property Core\\Database\\ActiveRecord\\Model::\$[a-zA-Z0-9_]+.#'
    - '#Call to an undefined method ReflectionType::getName\(\).#'